<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/juanwang"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/juanwang"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <receiver
            android:name=".BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".BroadcastActivity" />
        <activity
            android:name=".ListViewActivity"
            android:label="Musicians" />
        <activity
            android:name=".UICustomViewsActivity"
            android:label="自定义控件" />
        <activity
            android:name=".LayoutActivity"
            android:label="This is LayoutActivity" />
        <activity
            android:name=".DialogActivity"
            android:label="DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".NormalActivity"
            android:label="NormalActivity" />
        <activity
            android:name=".ThirdActivity"
            android:label="ThirdActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="SecondActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.example.myapplication.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.myapplication.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>